* {
    /*background-color: var(--outer-space);*/
    /*border: 1px solid red;*/
}

:root{
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;

}

body {
    background-color: var(--outer-space);
}

header {
    text-align: center;
}

.page-title {
    font-size: 45px;
    margin-bottom: 20px;
}


#header-subtext {
    color: var(--gin);
    padding: 20px 10px;
    margin-bottom: 30px;
}

h1, h2 {
    font-size: 30px;
    color: var(--heliotrope);
    padding: 10px;
}

main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: var(--outer-space);
    max-width: 400px;
    display: flex;
    justify-content: center;
}

p {
    color: var(--heliotrope);
    margin: 20px;
}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
    /*width: 100%;*/
    /*grid-template-columns: repeat(3, 1fr);*/
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
}

.code-block { 
    background-image: linear-gradient(
        rgba(232, 182, 236, 0.3) 0%,
        rgba(232, 182, 236, 0.6) 100%
        );
    }

.code-block {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    justify-content: flex-end;
    white-space: pre-wrap;
}

.code-block code {
    background-image: linear-gradient (
        rgba(232, 182, 236, 0.3),
        rgba(232, 182, 236, 0.6)
    );
    color: var(--gin)
}

.code-card .card-header {
    border-radius: 8px;
    /*transition: all 0.5s ease-in-out;*/
}

.code-card:hover .card-header {
    /*transition: all 0.5s ease-in-out;*/
    box-shadow: inset 0px 0px 8px
    rgba(232, 182, 236,1) 0 0 15px
    rgba(232, 182, 236, 1);
}

.card-header {
    position:relative;
    margin-top: -28px;
    border: 2px solid #ffff;
    
}

.card-column {
    flex-basis: 33%;
    max-width: 33%;
    flex-grow: 0;
    padding: 20px;
}

.code-card {
    display: flex;
    flex-direction: column;
    border: 2px dashed #ffff;
    width: 500px;
    max-height: fit-content;
    margin: 50px;
}

footer {
    color: var(--heliotrope);
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:768px) {

}